* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bgHeader {
    background-image: url("./bg-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
} 

#logo {
    display: block;
    margin: 5px auto;
    max-width: 45%;
    overflow: hidden;
}

.menu {
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: relative;
    margin-top: 2%;
    justify-content: center;
    gap: 15px;
} 

.menu a {

    font-weight: 500;
    text-decoration: none;
    color: #1A3E4B;
    font-size: 2rem;
    align-items: center;
    margin-left: 5%;
}

.movie-filters {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

.filters {
    background-color: #3793b7;
    width: 10rem;
    height: 1.7rem;
    font-size: 1rem;
    border-radius: 40px;
    text-align: center;
    color: white;
    border: none;
    margin-left: 2%;
    cursor: pointer;
}

#movies-search {
    background-color: #3793b7;
    width: 15rem;
    height: 1.7rem;
    font-size: 100%;
    border-radius: 40px;
    border: none;
    padding: 0.5%;
    color: white;
    text-align: center;
}

::placeholder {
    color: white;
    text-align: center;
}

#clean {
    background-color: #3793b7;
    width: 5rem;
    height: 1.7rem;
    font-size: 100%;
    border-radius: 40px;
    border: none;
    padding: 0.5%;
    margin-left: 1.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generalBody {
    background-color: #DCF3F8;
}

.stats {
    background-color: #3793b7;
    font-family: 'DM Sans', sans-serif;
    height: 50px;
    color: white;
    padding: 1% 0 0 2%;
    text-align: center;
}

  #movieCards {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    column-gap: 3%;
    margin: 3% 8% 3% 8%;
    font-family: 'DM Sans', sans-serif;
}

#container {
    position: relative;
    width: 255px;
    height: 370px;
    margin-bottom: 5%;
    filter: drop-shadow(6px 5px 4px rgba(0, 0, 0, 0.25));
}

#card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

#container:hover #card {
    transform: rotateY(180deg);
}

#frontCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #46A4C8;
    color: white;
    text-align: center;
    border-radius: 3%;
    padding: 5% 0 47% 0;
    font-weight: 400;
    border-radius: 30px;

}

#backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #46A4C8;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
    padding-top: 10%;
    padding-left: 7%;
    padding-right: 7%;
    line-height: 110%;
}

#filmPoster {
    width: 80%;
    height: 110%;
    border-radius: 25px;
}

.footer {
    background-color: #46A4C8;
    height: 3rem;
}

.footer-credits {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding-top: 1%;
    color: #fff;
}

.footer-links {
    font-weight: bold;
}

.footer-links:visited {
    color: #fff;
}


@media screen and (max-width: 800px) {
    .menu a {
        font-size: 1.7rem;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .menu a {
        font-size: 1rem;
        justify-content: center;
    }

    #movies-search {
        width: 8rem;
    }

    #clean {
        width: 4rem;
        margin-left: 0.6rem;
    }

    .filters {
        width: 5rem;
        height: 1.7rem;
        font-size: 1rem;
    }
    .stats {
        padding-top: 1rem;
    }
}   

@media screen and (max-width: 500px) {
    .menu a {
        font-size: 1rem;
        justify-content: center;
    }

    .movie-filters {
        margin-left: 0.3rem;
    }

    #movies-search {
        width: 4rem;
        font-size: 75%;
    }

    #clean {
        margin-left: 0.4rem;
        font-size: 75%;
    }

    .filters {
        width: 6rem;
        height: 1.7rem;
        font-size: 75%;
    }

    .stats {
        padding-top: 0.7rem;
    }
}

@media screen and (max-width: 480px){
    .menu {
        margin-right: 2rem;
    }

    .menu a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 411px) {
    .menu {
        margin-right: 1rem;
    }

    .menu a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 360px) {
    .menu a {
        font-size: 0.6rem;
    }

    #movies-search {
        width: 3.5rem;
        font-size: 60%;
    }

    .filters {
        width: 4rem;
        height: 1.7rem;
        font-size: 60%;
    }

    #clean {
        width: 4rem;
        font-size: 60%;
        margin-right: 0.5rem;
    }

    .stats {
        padding-top: 0.8rem;
        font-size: 90%;
    }
}